---
title: title
description: description
page-path: about/story/
og-image: opengraph/story-og.jpg
og-width: 1200
og-height: 647
i18nNamespace: story
faq: true
---

<link rel="preload" as="image" href="/img/story.webp">

 <div class="jumbotron story-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/story.webp')">
	<div class="container" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
		<h1 itemprop="name">{{t "head"}}</h1>
		<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
			<p itemprop="text">{{t "subhead"}}</p>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
	{{{t "text" joinArrays=" "}}}
	</div>
</div>

<div class="section home-orgs inverted">
	<div class="container">
		<div class="section-label">{{t 'global:partners.head'}}</div>
		<h2>{{{t 'global:partners.subhead'}}}</h2>

		<p>{{{t 'global:partners.text'}}}</p>

		{{> logos }}

		<div class="row">
			<div class="col-sm-12">
				<a href="/about/system" class="btn btn-primary float-end">{{t 'next-cta'}}</a>
			</div>
		</div>
	</div>
</div>
