---
title: title
description: description
page-path: contact/
og-image: opengraph/windmill-sunflowers-og.jpg
og-width: 1200
og-height: 600
active: contact
i18nNamespace: contact
---
<link rel="preload" as="image" href="/img/windmill-sunflowers.webp">

<div class="jumbotron contact-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/windmill-sunflowers.webp');">
 <div class="container">
	 <h1>{{t "head"}}</h1>
 </div>
</div>

<div class="section container section-contact">
	<div class="row">
		<div class="col-md-6">
			<h3>{{t "support.head"}}</h3>
			{{{t "support.text" joinArrays=" "}}}
		</div>

		<div class="col-md-6">
			<h3>{{t "contact.head"}}</h3>
			<p>{{t "contact.text"}}</p>
			<address>
				{{{t "contact.address" joinArrays="<br>"}}}
			</address>
		</div>
	</div>
</div>
