	<footer class="footer">
		<div class="container">
			<div class="row">

				{{#each (t "global:footer" returnObjects=true)}}
				<div class="col-6 col-sm-3">
 					<ul>
 						<li><h4>{{head}}</h4></li>
						{{#each items}}
						<li>{{{this}}}</li>
						{{/each}}
 					</ul>
				</div>
				{{/each}}

 				<div class="col-6 col-sm-3">
					<a href="https://twitter.com/doteco" rel="noopener" class="social-link"><img src="{{img-root}}/Twitter_Social_Icon_Circle_White.png" alt="Twitter logo" height="36" width="36" loading="lazy"></a>
					<a href="https://www.linkedin.com/company/eco-domain/" rel="noopener" class="social-link"><img src="{{ img-root }}/In-White-34@2x.png" alt="LinkedIn logo" height="36" width="36" loading="lazy"></a>
					<a href="https://mastodon.eco/@doteco/" rel="noopener me" class="social-link"><img src="{{ img-root }}/mastodon.svg" alt="Mastodon logo" height="36" width="36" loading="lazy"></a>
					<a href="https://profiles.eco/go?ref=tm" rel="noopener" class="social-link"><img class="eco-trustmark" alt=".eco profile for go.eco" src="{{trustmark}}/go/eco-button.svg?color=%23FFFFFF" height="36" width="36" loading="lazy"></a>
					<a href="https://go.eco/news/we-declare-a-climate-emergency/"><img src="{{ img-root }}/we-declare-a-climate-emergency-white-transparent.png" alt="We Declare a Climate Emergency logo" width="142" height="60" loading="lazy"></a>
	 			</div>
 			</div>
			<div class="row">
				<div class="col-12">&copy; {{ year }} <a href="https://bigroom.eco">Big Room Inc.</a></div>
			</div>
		</div>
    </footer>
