<!DOCTYPE html>
{{#if faq}}
<html id="doteco" lang="{{lang}}" itemscope itemtype="https://schema.org/FAQPage">
{{else}}
<html id="doteco" lang="{{lang}}">
{{/if}}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{description}}">
	<meta name="keywords" content="{{t "global:keywords" }}">
	{{#if author}}
	<meta name="author" content="{{author}}">
	{{/if}}

	{{#if noindex}}
	<meta name="robots" content="noindex,nofollow">
	{{/if}}

	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{site-url}}/{{page-path}}">
	{{#if collection}}
	<meta property="og:type" content="article">
	<meta property="article:author" content="{{author}}">
	{{else}}
	<meta property="og:type" content="website">
	{{/if}}
	<meta property="og:image" content="{{site-url}}/img/{{og-image}}">
	<meta property="og:image:width" content="{{og-width}}">
	<meta property="og:image:height" content="{{og-height}}">
	{{#if header-img-alt}}
	<meta property="og:image:alt" content="{{header-img-alt}}">
	{{/if}}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{twitter-id}}">
	<meta property="fb:app_id" content="744238272415478">
	{{#if pubdate}}
	<meta property="article:published_time" content="{{isoDate pubdate}}">
	{{/if}}

	<title>{{title}}</title>
	<link rel="canonical" href="{{site-url}}/{{page-path}}">

	<!-- Fonts -->
	<link rel="preload" as="font" href="/css/fonts/lato-300.woff2" crossorigin="" type="font/woff2">
	<link rel="preload" as="font" href="/css/fonts/lato-700.woff2" crossorigin="" type="font/woff2">
	<link rel="preload" as="font" href="/css/fonts/opensans.woff2" crossorigin="" type="font/woff2">

	<link rel="stylesheet" href="/css/bootstrap/5.2.3/bootstrap.min.css">
	<link rel="stylesheet" href="/{{ fingerprint.[css/main.css] }}">

	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="manifest" href="/site-v1.webmanifest">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9F1744">
	<meta name="msapplication-TileColor" content="#9F1744">
	<meta name="theme-color" content="#ffffff">

	<script defer src="/js/sentry/6.19.7/bundle.min.js"></script>
	<script>
	if (typeof Sentry !== 'undefined') {
		Sentry.init({
		  dsn: "{{sentryDSN}}",
			allowUrls: [
				"{{site-url}}"
			]
		})
	}
	</script>
	{{#if ga-tracking-id}}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ga-tracking-id}}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', '{{ga-tracking-id}}', { 'transport_type': 'beacon', 'anonymize_ip': true });
	</script>
	{{/if}}
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Organization",
		"name": ".eco",
		"legalName" : "Big Room Inc.",
		"url": "{{site-url}}",
		"logo": "{{site-url}}/img/doteco-logo.svg",
		"foundingDate": "2007",
		"founders": [{
			"@type": "Person",
			"name": "Trevor Bowden"
		}],
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "1231 Pacific Boulevard, Suite 581",
			"addressLocality": "Vancouver",
			"addressRegion": "BC",
			"postalCode": "V6Z 0E2",
			"addressCountry": "Canada"
		},
	  "contactPoint": [{
	    "@type": "ContactPoint",
	    "email": "support@bigroom.eco",
			"telephone": "+1 604 682 6673",
	    "contactType": "customer service"
	  }],
	  "sameAs": [
			"https://en.wikipedia.org/wiki/.eco",
			"https://icannwiki.org/.eco",
			"https://www.linkedin.com/company/eco-domain/",
			"https://twitter.com/doteco"
	  ]
	}	
	</script>
	{{#if collection}}
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "NewsArticle",
		"image": [
			"{{site-url}}{{header-img}}"
		],
		"url": "{{site-url}}/{{page-path}}",
		"datePublished": "{{isoDate pubdate}}",
		"dateModified": "{{isoDate update}}",
		"headline": "{{title}}",
		"description": "{{excerpt}}",
		"author": {
			"@type": "Organization",
			"name": ".eco",
			"url": "{{site-url}}"
		},
		"publisher": {
			"@type": "Organization",
			"name": ".eco Domain Registry",
			"url": "https://go.eco",
			"logo": {
				"@type": "ImageObject",
				"url": "{{site-url}}/img/doteco-logo.svg"
			}
		},
		"mainEntityOfPage": "{{site-url}}/{{page-path}}"
	}
	</script>
	{{/if}}
</head>
<body{{#if active}} class="page-{{active}}"{{/if}}>
