<!DOCTYPE html>
{{#if faq}}
<html id="doteco" lang="{{lang}}" itemscope itemtype="https://schema.org/FAQPage">
{{else}}
<html id="doteco" lang="{{lang}}">
{{/if}}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{title}}</title>
	<meta name="description" content="{{description}}">
	<meta name="keywords" content="{{t "global:keywords" }}">
	{{#if author}}
	<meta name="author" content="{{author}}">
	{{/if}}

	{{#if noindex}}
	<meta name="robots" content="noindex,nofollow">
	{{/if}}

	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{site-url}}/{{page-path}}">
	{{#if collection}}
	<meta property="og:type" content="article">
	<meta property="article:author" content="{{author}}">
	{{else}}
	<meta property="og:type" content="website">
	{{/if}}
	<meta property="og:image" content="{{site-url}}/img/{{og-image}}">
	<meta property="og:image:width" content="{{og-width}}">
	<meta property="og:image:height" content="{{og-height}}">
	{{#if header-img-alt}}
	<meta property="og:image:alt" content="{{header-img-alt}}">
	{{/if}}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{twitter-id}}">
	<meta property="fb:app_id" content="744238272415478">
	{{#if pubdate}}
	<meta property="article:published_time" content="{{isoDate pubdate}}">
	{{/if}}

	<link rel="canonical" href="{{site-url}}/{{page-path}}">
	<link rel="alternate" type="application/rss+xml" title=".eco news" href="/rss.xml">

	<!-- Fonts -->
	<link rel="preload" as="font" href="/css/fonts/lato-300.woff2" crossorigin="" type="font/woff2">
	<link rel="preload" as="font" href="/css/fonts/lato-700.woff2" crossorigin="" type="font/woff2">
	<link rel="preload" as="font" href="/css/fonts/opensans.woff2" crossorigin="" type="font/woff2">

	<link rel="stylesheet" href="/{{ fingerprint.[css/main.css] }}">
	<script defer src="/js/bootstrap/{{bootstrapVersion}}/bootstrap.custom.min.js"></script>

	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="manifest" href="/site-v1.webmanifest">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9F1744">
	<meta name="msapplication-TileColor" content="#9F1744">
	<meta name="theme-color" content="#ffffff">

	<script>
		window.sentryOnLoad = function () {
			Sentry.init({
				allowUrls: [
					"{{site-url}}"
				]
			})
		}
	</script>
	<script src="{{sentryUri}}" crossorigin="anonymous"></script>
	<script src="https://cdn.usefathom.com/script.js" data-site="ZKSAKYVJ" defer></script>

{{#if (equal active "home")}}
	<script type="application/ld+json">
	{
		"@context" : "https://schema.org",
		"@type" : "WebSite",
		"name" : "{{t "global:site-name" }}",
		"alternateName" : ["Eco Domain Name Registry", ".eco Domain Registry", "Eco Domain Registry"],
		"url" : "{{site-url}}",
		"potentialAction": {
			"@type": "SearchAction",
			"target": {
				"@type": "EntryPoint",
				"urlTemplate": "{{site-url}}/search/?domain={search_term_string}"
			},
			"query-input": "required name=search_term_string"
		}
	}
  </script>
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Product",
		"name": "{{t "global:product-name" }}",
		"image": "https://go.eco/img/doteco-logo.svg",
		"description": "{{t "global:product-description" }}",
		"brand": {
			"@type": "Brand",
			"name": "{{t "global:site-name" }}"
		},
		"offers": {
			"@type": "AggregateOffer",
			"url": "https://go.eco/",
			"lowPrice": 60.00,
			"highPrice": 125.00,
			"priceCurrency": "USD",
			"offerCount": 10000,
			"availability": "https://schema.org/OnlineOnly"
		}
	}
	</script>
	{{/if}}
	{{#if (equal active "contact")}}
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "OnlineStore",
		"name": "{{t "global:site-name" }}",
		"legalName" : "Big Room Inc.",
		"url": "{{site-url}}",
		"logo": "{{site-url}}/img/doteco-logo.svg",
		"foundingDate": "2007",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "1231 Pacific Boulevard, Suite 581",
			"addressLocality": "Vancouver",
			"addressRegion": "BC",
			"postalCode": "V6Z 0E2",
			"addressCountry": "CA"
		},
	  "contactPoint": [{
	    "@type": "ContactPoint",
	    "email": "support@bigroom.eco",
	    "contactType": "customer service"
	  }],
	  "sameAs": [
			"https://allez.eco/",
			"https://kauf.eco/",
			"https://en.wikipedia.org/wiki/.eco",
			"https://icannwiki.org/.eco",
			"https://www.linkedin.com/company/eco-domain/",
			"https://mastodon.eco/@doteco/",
			"https://twitter.com/doteco"
	  ]
	}
	</script>
	{{/if}}
	{{#if collection}}
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "NewsArticle",
		"image": [
			"{{site-url}}{{header-img}}"
		],
		"url": "{{site-url}}/{{page-path}}",
		"datePublished": "{{isoDate pubdate}}",
		"dateModified": "{{isoDate update}}",
		"headline": "{{title}}",
		"description": "{{excerpt}}",
		"author": {
			"@type": "Organization",
			"name": "{{t "global:site-name" }}",
			"url": "{{site-url}}"
		}
	}
	</script>
	{{/if}}
</head>
<body{{#if active}} class="page-{{active}}"{{/if}}>
