<div class="community-profiles__container grid grid--m1d2">
  {{#each profiles as |profile| }}
  <div class="grid__cell">
    <a href="https://profiles.eco/{{profile.domain}}" class="profile-tile" data-custom-bg="true" style="background-image: url('{{profile.img}}')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>{{profile.domain}}</strong></span>
      </div>
    </a>
    <div class="profile-tile-details">
      <p class="profile-tile-details-story">{{{profile.story}}}</p>
      <p class="profile-tile-details__section"><span class="profile-type__section"><img src="https://cdn.profiles.eco/img/icons/org-type/{{typeIcon profile.type}}" class="profile-type__icon" alt="{{ profile.type}} icon" loading="lazy"/>{{../t (concat 'global:profile-types.' profile.type)}}</span><span class="profile-type__section"><span class="profile-type__globe glyphicon glyphicon-globe"></span>{{profile.location}}</span></p>
    </div>
  </div>
  {{/each}}
</div>

<div class="row">
  <div class="col-sm-12">
    <a href="https://profiles.eco" class="btn btn-primary float-end">{{t 'global:members.cta'}}</a>
  </div>
</div>
