---
title: title
description: description
page-path: search/
og-image: opengraph/tiger-og.jpg
og-width: 1200
og-height: 630
active: search
i18nNamespace: search
noindex: true
exclude: true
---

<script src="/{{ fingerprint.[js/domain-search.js] }}" defer></script>
<div class="section search">
 <div class="container">
   <form method="get" class="search-form" role="search">
     <h1 class="subheader search-header"><label for="input-search">{{t "global:search.head"}}</label></h1>

     <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-8">
        <div class="input-group">
          <input id="input-search" type="search" class="form-control domain-search" name="domain" placeholder="example.eco" autocomplete="off" autocapitalize="off" title="{{t "global:search.head"}}" autofocus>
          <input class="btn btn-search" type="submit" title="{{t 'global:search.cta'}}" value="">
        </div>
       </div>
       <div class="col-md-2"></div>
     </div>
   </form>
 </div>
</div>

<div class="section search-results-section" hidden>
  <div class="container search-results">
  </div>
</div>

<div class="section registrars-priority" hidden>
  <div class="container">
    <h2 class="registars-header">{{t "registrars.head1"}}</h2>
    <div class="row registrars-row">
    </div>
  </div>
</div>

<div class="section registrars-all inverted" hidden>
  <div class="container">
    <h2 class="registars-header">{{t "registrars.head2"}}</h2>
    <div class="row registrars-filter">
      <div class="row registrars-filter-row"></div>
      {{{t "greenRetailers"}}}
      {{#if (notempty (t "promos.items" returnObjects=true))}}
      <details class="registrars-promo">
        <summary>{{t "promos.header" }}</summary>
        <ul>
        {{#each (t "promos.items" returnObjects=true)}}
        <li>{{{this}}}</li>
        {{/each}}
        </ul>
      </details>
      {{/if}}
    </div>
    <div class="row registrars-row">
    </div>
  </div>
</div>

<div class="section domain-reserved" hidden>
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="submit-form col-sm-8 well well-lg">
        <h3>{{t "reserved.head"}}</h3>
        <p>{{t "reserved.text"}}</p>
        <form id="makeoffer-form" class="underlined-form iframe-form" action="{{ makeOfferForm }}" target="makeoffer-form-iframe" method="POST" data-toggle="validator">
          <input id="makeoffer-domain" type="hidden" name="entry.1812657841" value="">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" id="fullname" placeholder="{{t "reserved.nameField"}}" aria-label="{{t "reserved.nameField"}}" name="entry.1410965494" data-error="{{t "reserved.nameFieldError"}}" autocomplete="name" required>
          </div>
          <div class="form-group has-feedback">
            <input type="email" class="form-control" id="email" placeholder="{{t "reserved.emailField"}}" aria-label="{{t "reserved.emailField"}}" name="entry.148246978" data-error="{{t "reserved.emailFieldError"}}" autocomplete="email" required>
          </div>
          <div class="clearfix form-group">
            <button type="submit" class="submit-application btn btn-primary float-end">{{t "reserved.cta"}}</button>
          </div>
        </form>
      </div>
      <div class="submit-thanks col-sm-8 well well-lg" hidden>
        <h3>{{t "reserved.thanks"}}</h3>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
<iframe id="makeoffer-form-iframe" name="makeoffer-form-iframe" class="iframe-form-iframe" title="{{t "reserved.title"}}" hidden></iframe>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (typeof domainSearch !== 'function') {
      return console.error('Domain search script did not load. Search will not work.')
    }

  	domainSearch({
      searchUrl: '{{ searchUrl }}',
      onSearch: function (domain) {
        track('91VRRSWF')
  		},
  		onFilter: function (filters) {
        track('1LAGW5ME')
  		},
  		onClick: function (registrar, href) {
        track('XVVN1YEM')
  		},
      onReservedSubmit: function (r) {
        track('J91YCHXN')
      },
      filterLabels: {{{json (t "filters" returnObjects=true)}}},
      filterHelp: {{{json (t "filterHelp" returnObjects=true)}}},
      filterDefaults: {{{json filterDefaults}}},
      envPolicyLabels: {{{json (t "policy" returnObjects=true)}}},
      regionLabels: {{{json (t "region" returnObjects=true)}}},
      resultLabels: {{{json (t "results" returnObjects=true)}}}
  	})

    const form = document.getElementById('makeoffer-form')
    if (form) {
      forEachNodeList(form.querySelectorAll('input.form-control'), function (formControl) {
        formControl.addEventListener('input', function (event) {
          event.target.parentElement.classList.add('was-validated')
        })
      })
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          return event.preventDefault()
        }
      })
    }

    document.querySelector('.registrars-promo > summary').addEventListener('click', function () {
      track('PXZGNB4F')
    })
  })
</script>
