---
title: title
description: description
page-path: search/
og-image: opengraph/tiger-og.jpg
og-width: 1200
og-height: 630
active: search
i18nNamespace: search
noindex: true
exclude: true
---

<div class="section search">
 <div class="container">
   <h1 class="subheader search-header">{{t "global:search.head"}}</h1>

   <form method="get" class="search-form">
     <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-8">
        <div class="input-group">
          <input id="input-search" type="search" class="form-control domain-search" name="domain" placeholder="example.eco" autocomplete="off" autocapitalize="off" title="{{t "global:search.head"}}" autofocus>
          <button class="btn btn-search" type="button" aria-label="{{t 'global:search.cta'}}">
          </button>
        </div>
       </div>
       <div class="col-md-2"></div>
     </div>
   </form>
 </div>
</div>

<div class="section">
  <div class="container search-results">
  </div>
</div>

<div class="section registrars" hidden>
  <div class="container registrars-priority">
    <h3 class="registars-header">{{t "registrars.head1"}}</h3>
    <div class="row registrars-row">
    </div>
  </div>
</div>

<div class="section registrars inverted" hidden>
  <div class="container registrars-all">
    <h3 class="registars-header">{{t "registrars.head2"}}</h3>
    <div class="row registrars-filter">
    </div>
    <div class="row registrars-row">
    </div>
  </div>
</div>

<div class="section domain-reserved" hidden>
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="submit-form col-sm-8 well well-lg">
        <h3>{{t "reserved.head"}}</h3>
        <p>{{t "reserved.text"}}</p>
        <form id="makeoffer-form" class="underlined-form iframe-form" action="{{ makeOfferForm }}" target="makeoffer-form-iframe" method="POST" data-toggle="validator">
          <fieldset>
            <input id="makeoffer-domain" type="hidden" name="entry.1812657841" value="">
            <div class="form-group has-feedback">
              <input type="text" class="form-control" id="fullname" placeholder="{{t "reserved.nameField"}}" aria-label="{{t "reserved.nameField"}}" name="entry.1410965494" data-error="{{t "reserved.nameFieldError"}}" required>
            </div>
            <div class="form-group has-feedback">
              <input type="email" class="form-control" id="email" placeholder="{{t "reserved.emailField"}}" aria-label="{{t "reserved.emailField"}}" name="entry.148246978" data-error="{{t "reserved.emailFieldError"}}" required>
            </div>
          </fieldset>
          <div class="clearfix form-group">
            <button type="submit" class="submit-application btn btn-primary float-end">{{t "reserved.cta"}}</button>
          </div>
        </form>
      </div>
      <div class="submit-thanks col-sm-8 well well-lg" hidden>
        <h3>{{t "reserved.thanks"}}</h3>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
<iframe id="makeoffer-form-iframe" name="makeoffer-form-iframe" class="iframe-form-iframe" title="{{t "reserved.title"}}" hidden></iframe>

<script src="/{{ fingerprint.[js/domain-search.js] }}"></script>
<script>
  if (typeof domainSearch === 'function') {
  	domainSearch({
      searchUrl: '{{ searchUrl }}',
      searchEngine: 'domainr',
      onSearch: function (domain) {
  {{#if ga-tracking-id}}
        gtag('event', 'search', {
          event_category: 'domain-search',
          event_label: domain
        })
  {{/if}}
  		},
  		onFilter: function (filters) {
  {{#if ga-tracking-id}}
        gtag('event', 'select', {
          event_category: 'registrar-filter',
          event_label: filters.filter(f => f && f.length > 0).join(',')
        })
  {{/if}}
  		},
  		onClick: function (registrar, href) {
  {{#if ga-tracking-id}}
        gtag('event', 'click', {
          event_category: 'registrar',
          event_label: registrar,
          transport: 'beacon'
        })
  {{/if}}
  		},
      onReservedSubmit: function (r) {
  {{#if ga-tracking-id}}
        gtag('event', 'submit', {
          event_category: 'makeoffer',
          event_label: r && r.domain
        })
  {{/if}}
      },
      filterLabels: {{{json (t "filters" returnObjects=true)}}},
      filterHelp: {{{json (t "filterHelp" returnObjects=true)}}},
      filterDefaults: {{{json filterDefaults}}},
      envPolicyLabels: {{{json (t "policy" returnObjects=true)}}},
      regionLabels: {{{json (t "region" returnObjects=true)}}},
      resultLabels: {{{json (t "results" returnObjects=true)}}}
  	})
  }
</script>
<script>
  const form = document.getElementById('makeoffer-form')
  if (form && form.querySelectorAll) {
    form.querySelectorAll('input.form-control').forEach(function (formControl) {
      formControl.addEventListener('input', function (event) {
        event.target.parentElement.classList.add('was-validated')
      })
    })
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        return event.preventDefault()
      }
    })
  }
</script>
