{{> head }}
	{{> header }}

  <article class="container">

    <div class="article-header">
      <a href="/news/"><img src="/android-chrome-192x192.png" class="article-avatar" title="{{author}} author avatar" alt="{{author}} author avatar" /></a>
      <a href="/news/"><span class="article-author" title="Written by {{author}}">{{author}}</span></a>
      {{#if update}}
      <span class="article-pubdate" title="Published on {{formatDay pubdate}}; last updated on {{formatDay update}}">Last updated: {{formatDay update}}</span>
      {{else}}
      <span class="article-pubdate" title="Published on {{formatDay pubdate}}">{{formatDay pubdate}}</span>
      {{/if}}
    </div>
	{{{ contents }}}

  <div class="news-more">
    <a href="/news/" class="btn btn-primary">More .eco news</a>
  </div>
  </article>

  {{> footer }}
	{{> scripts }}
{{> foot }}
