{{> head }}
	{{> header }}

  <main>
  <article class="container">

    <header class="article-header">
      <a href="/news/">
        <img src="/img/doteco-logo.svg" class="article-avatar" alt="{{author}} author avatar">
        <span class="article-author" title="Written by {{author}}">{{author}}</span>
      </a>
      {{#if update}}
      <span class="article-pubdate" title="Published on {{formatDay pubdate}}; last updated on {{formatDay update}}">Last updated: <time datetime="{{formatUTC update}}">{{formatDay update}}</time></span>
      {{else}}
      <span class="article-pubdate" title="Published on {{formatDay pubdate}}"><time datetime="{{formatUTC pubdate}}">{{formatDay pubdate}}</time></span>
      {{/if}}
    </header>

	{{{ contents }}}

    {{#if more}}
    <aside>
      <h3>Read more</h3>
      <ul>
				{{#each more}}
        {{#with (lookupArticle ../news this)}}
        <li><a href="/{{../this}}">{{title}}</a></li>
        {{/with}}
        {{/each}}
      </ul>
    </aside>
    {{/if}}
    <footer>
      <p class="article-footer">.eco is the top-level domain for the global environmental community. Learn what <a href="/about/system/">makes .eco different and join the .eco community</a> to showcase your commitment to environmental action.</p>
      <div class="row">
        <div class="col-sm-6 news-share">
          Share:
            <a href="https://twitter.com/intent/tweet?text={{uriencode title}}%20{{uriencode site-url}}%2F{{uriencode page-path}}%20%23eco" target="_blank" rel="noopener" class="share-link" title="Share article on Twitter"><img src="{{img-root}}/twitter-blue.svg" alt="Twitter logo" height="18" width="18" loading="lazy"></a>
            <a href="https://www.linkedin.com/sharing/share-offsite/?mini=true&url={{uriencode site-url}}%2F{{uriencode page-path}}" target="_blank" rel="noopener" class="share-link" title="Share article on LinkedIn"><img src="{{ img-root }}/In-Blue-21@2x.png" alt="LinkedIn logo" height="20" width="20" loading="lazy"></a>
            <a href="https://toot.kytta.dev/?text={{uriencode title}}%20{{uriencode site-url}}%2F{{uriencode page-path}}%20%23eco" target="_blank" rel="noopener" class="share-link" title="Share article on Mastodon"><img src="{{ img-root }}/mastodon-share.svg" alt="Mastodon logo" height="20" width="20" loading="lazy"></a>
            <a href="/rss.xml" target="_blank" class="share-link" title="Subscribe to .eco news"><img src="{{ img-root }}/rss.svg" alt="RSS feed logo" height="20" width="20" loading="lazy"></a>
        </div>
        <div class="col-sm-6 news-more">
          <a href="/news/" class="btn btn-primary">More .eco news</a>
        </div>
      </div>
    </footer>
  </article>
  </main>

  {{> footer }}
	{{> scripts }}
{{> foot }}
