{{> head }}
	{{> header }}

  <main class="container policy">
  <header>
    {{#if header-img}}
    <img class="policy-header-img" src="{{header-img}}" alt="{{header-img-alt}}">
    {{/if}}

    <h1>{{title}}</h1>
    {{#if subtitle}}
    <h2 class="subheader">{{subtitle}}</h2>
    {{/if}}

    {{#if updated}}
    <p class="policy-date"><em>Updated: <time datetime="{{formatUTC updated}}">{{formatDay updated lang}}</time></em></p>
    {{else}}
    <p class="policy-date"><em>Published: <time datetime="{{formatUTC pubdate}}">{{formatDay pubdate lang}}</time></em></p>
    {{/if}}
  </header>

{{{ contents }}}

  <footer>
    <div class="d-flex justify-content-end">
      <a href="/policies/" class="btn btn-primary">.eco policies</a>
    </div>
  </footer>
  </main>

  {{> footer }}
	{{> scripts }}
{{> foot }}
