{{> head }}
	{{> header }}

  <main class="container policy">
    <h1>{{title}}</h1>
    {{#if subtitle}}
    <h2 class="subheader">{{subtitle}}</h2>
    {{/if}}

    <p class="policy-date"><em>Updated: <time datetime="{{formatUTC updated}}">{{formatDay updated}}</time></em></p>

{{{ contents }}}

    <div class="d-flex justify-content-end">
      <a href="/policies/" class="btn btn-primary">.eco policies</a>
    </div>

  </main>

  {{> footer }}
	{{> scripts }}
{{> foot }}
