---
title: title
description: description
page-path: about/system/
og-image: opengraph/story-og.jpg
og-width: 1200
og-height: 647
i18nNamespace: system
---


 <div class="jumbotron system-header">
	<div class="container">
		<h1>{{t "head"}}</h1>
		<p>{{t "subhead"}}</p>
	</div>
</div>

<div class="section policy">
	<div class="container">
		<h2>4 reasons why .eco is different from other domains:</h2>

		<ul>
			<li><strong>Community</strong>: we are a <a href="https://icannwiki.org/Community_TLD">community top-level domain</a>. Most other TLDs are run by large companies primarily focused on shareholder profit. .eco was founded in consultation with a <a href="https://org.eco/">consortium of leading environmental organizations</a> and is fully focused on supporting the environmental movement.</li>
			<li><strong>Trust</strong>: .eco is <strong>exclusively</strong> for those working on positive change for our planet. This is why anyone who registers a .eco domain must create a <a href="https://profiles.eco/">.eco profile</a> disclosing their environmental intentions and signing a pledge committing them to environmental action.</li>
			<li><strong>Transparency</strong>: the best way to counter greenwashing and disinformation is transparency. The .eco profile system is one way for members of the .eco community to be transparent about their actions. We try to <a href="/impact/">lead by example</a> by publishing how we’re making a difference.</li>
			<li><strong>Carbon neutral</strong>: we are dedicated to protecting our planet. That’s why we are one of the only <a href="impact/ghg-report-2022/">carbon neutral domain registries</a>. You can feel confident that the climate impact of managing your .eco domain is accounted for.
		</ul>
	</div>
</div>

<div class="section policy inverted">
	<div class="container">
		<h2>{{{t "buy.head" }}}</h2>
		<div class="row icon-row">

			<div class="col-md-3 icon-text">
				<img src="/img/icons/laptop.svg" alt="domain window icon" class="col-4 col-md-12">
				<p class="col-md-12" >{{t "buy.item1" }}</p>
			</div>

			<div class="col-md-3 icon-text">
				<img src="/img/icons/globe.svg" alt="profile icon" class="col-4 col-md-12">
				<p class="col-md-12" >{{t "buy.item2" }}</p>
			</div>

			<div class="col-md-3 icon-text">
				<img src="/img/icons/profile-light.svg" alt="badge icon" class="col-4 col-md-12">
				<p class="col-md-12">{{t "buy.item3" }}</p>
			</div>

			<div class="col-md-3 icon-text">
				<img src="/img/icons/trustmark-light.svg" alt="badge icon" class="col-4 col-md-12">
				<p class="col-md-12">{{t "buy.item4" }}</p>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<h3>{{t "profiles.head" }}</h3>

		<div class="policy">
		{{{t "profiles.text" joinArrays='' }}}
		</div>
		{{> profiles profiles=priorityProfiles }}

	</div>
</div>
