---
title: title
description: description
page-path: about/system/
og-image: opengraph/story-og.jpg
og-width: 1200
og-height: 647
i18nNamespace: system
---


 <div class="jumbotron system-header">
	<div class="container">
		<h1>{{t "head"}}</h1>
		<p>{{t "subhead"}}</p>
	</div>
</div>

<div class="section">
	<div class="container">
		<h2>{{{t "buy.head" }}}</h2>
		<div class="row icon-row">

			<div class="col-md-4 icon-text">
				<img src="/img/icons/domain-light.svg" alt="domain window icon" class="col-4 col-md-12">
				<p class="col-md-12" >{{t "buy.item1" }}</p>
			</div>

			<div class="col-md-4 icon-text">
				<img src="/img/icons/profile-light.svg" alt="profile icon" class="col-4 col-md-12">
				<p class="col-md-12" >{{t "buy.item2" }}</p>
			</div>

			<div class="col-md-4 icon-text">
				<img src="/img/icons/trustmark-light.svg" alt="badge icon" class="col-4 col-md-12">
				<p class="col-md-12">{{t "buy.item3" }}</p>
			</div>
		</div>
		<p><strong>{{{t "buy.footer" }}}</strong></p>
	</div>
</div>

<div class="section inverted">
	<div class="container">
		<h3>{{t "profiles.head" }}</h3>

		{{{t "profiles.text" joinArrays='' }}}
		{{> profiles profiles=priorityProfiles }}

	</div>
</div>
