---
title: title
description: description
i18nNamespace: faq
page-path: faq/
og-image: opengraph/windmill-sunflowers-og.jpg
og-width: 1200
og-height: 600
active: faq
faq: true
---

<link rel="preload" as="image" href="/img/windmill-sunflowers.webp">

 <header class="jumbotron contact-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/windmill-sunflowers.webp');">
	<div class="container">
		<h1>{{t "header"}}</h1>
		<h2 class="subheader">{{t "subhead"}}</h2>
	</div>
</header>

<section class="section policy">
	{{#each (t "faq" returnObjects=true)}}
	<div class="container" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
		<h2 itemprop="name">{{{q}}}</h2>
		<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
			<p itemprop="text">{{{a}}}</p>
		</div>
	</div>
	{{/each}}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<a href="/about/system/" class="btn btn-primary float-end">{{t 'next-cta'}}</a>
			</div>
		</div>
	</div>
</section>
