---
title: title
description: description
page-path:
og-image: opengraph/building-og.png
og-width: 1200
og-height: 630
active: home
changefreq: daily
priority: 1
i18nNamespace: home
---

<link rel="preload" as="image" href="/img/carousel/woman-shopping.jpg" />

<div class="carousel slide" id="home-carousel" data-interval="8000" data-ride="carousel" data-wrap="false">
	<ol class="carousel-indicators">
	    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
 	    <li data-target="#home-carousel" data-slide-to="1"></li>
 	    <li data-target="#home-carousel" data-slide-to="2"></li>
 	    <li data-target="#home-carousel" data-slide-to="3"></li>
 	</ol>

 	<div class="carousel-inner" role="listbox" aria-label="Header carousel">

 		<div class="item active home-business jumbotron" role="option" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/carousel/woman-shopping.jpg')">
 			<div class="container">
	 			<h2>{{t 'carousel.business.head'}}</h2>
				<p class="subheader">{{t 'carousel.business.subhead'}}</p>
 			</div>
 		</div>

 		<div class="item home-government jumbotron" role="option">
 			<div class="container">
	 			<h2>{{t 'carousel.gov.head'}}</h2>
				<p class="subheader">{{t 'carousel.gov.subhead'}}</p>
			</div>
 		</div>

 		<div class="item home-people jumbotron" role="option">
 			<div class="container">
	 			<h2>{{t 'carousel.people.head'}}</h2>
				<p class="subheader">{{t 'carousel.people.subhead'}}</p>
			</div>
 		</div>

 		<div class="item home-you jumbotron" role="option">
 			<div class="container">
	 			<h2>{{t 'carousel.tld.head'}}</h2>
				<p class="subheader">{{t 'carousel.tld.subhead'}}</p>
			</div>
 		</div>

 	</div>

 	<a hidden class="left carousel-control" href="#home-carousel" role="button" data-slide="prev" aria-label="{{t 'carousel.cta.prev'}}">
		<span class="glyphicon glyphicon-chevron-left"></span>
 	 </a>

 	<a class="right carousel-control" href="#home-carousel" role="button" data-slide="next" aria-label="{{t 'carousel.cta.next'}}">
		<span class="glyphicon glyphicon-chevron-right"></span>
 	</a>
 </div>

 <div class="section search">
	 <div class="container">
	   <h1 class="subheader search-header">{{t 'search.head'}}</h1>

	   <form method="get" class="search-form">
	     <div class="row">
	       <div class="col-sm-2"></div>
	       <div class="col-sm-8">
	         <div class="input-group">
	           <input id="input-search" type="search" class="form-control domain-search" name="domain" placeholder="example.eco" autocomplete="off" autocapitalize="off">
	           <span class="input-group-btn">
	             <button class="btn btn-search" type="button" aria-label="Search"><span class="glyphicon glyphicon-search"></span></button>
	           </span>
	          </div>
	       </div>
	       <div class="col-sm-2"></div>
	     </div>
	   </form>
	 </div>
 </div>

 <div class="section recent">
 	<div class="container">
 		<div class="row">
 			<div class="recently-registered col-xs-3">{{t 'registered.head'}}</div>
 			<div class="col-xs-9">
 				<div id="registered-domains" class="registered-domains">
 				</div>
 			</div>
 		</div>
 	</div>
 </div>

<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-md-6">
				<h3>{{{t 'eligibility.head'}}}</h3>
				{{{t 'eligibility.text' joinArrays=''}}}
			</div>

			<div class="col-md-6">
				<h3>{{{t 'purchase.head'}}}</h3>
				{{{t 'purchase.text' joinArrays=''}}}
			</div>
		</div>
	</div>
</div>

<div class="section home-orgs inverted">
	<div class="container">
		<div class="section-label">{{{t 'global:partners.head'}}}</div>
		<h2>{{{t 'global:partners.subhead'}}}</h2>

		<p>{{t 'global:partners.text'}}</p>

		{{> logos }}
	</div>
</div>

<div class="section home-who">
	<div class="container">
		<div class="section-label"><a href="https://profiles.eco">{{{t 'global:members.head'}}}</a></div>
		{{> profiles profiles=priorityProfiles }}
	</div>
</div>

<div class="section home-support inverted">
	<div class="container">
		<div class="section-label">{{t 'support.head'}}</div>
		<div class="row">
			<div class="col-xs-3 col-md-2">
				<span class="support-wave">&#x1F44B;</span>
			</div>
			<div class="col-xs-8 col-md-10">
				{{{t 'support.text' joinArrays=' '}}}
			</div>
		</div>
	</div>
</div>
<script>
if ('undefined' !== typeof jQuery) {
	$('#home-carousel').on('slid.bs.carousel', function () {
		curSlide = $('.active');
		$('.left').toggle( !curSlide.is( ':first-child' ) )
		$('.right').toggle( !curSlide.is( ':last-child' ) )
	});	
}
</script>
<script>
	function search () {
		window.location = '/search/?domain=' + document.querySelector('.domain-search').value
		return false
	}

	document.querySelector('.btn-search').addEventListener('click', function (e) {
    e.preventDefault()
		return search()
  })

  document.querySelector('.domain-search').addEventListener('keydown', function (e) {
    if (e.keyCode === 13) {
      e.preventDefault()
			return search()
    }
  })

  var registeredDomains = document.getElementById('registered-domains')

	var fadeIn = function(elem, timing, delta, cb) {
		var opacity = 0
		fadeInterval = setInterval(function() {
			opacity += delta
			elem.style.opacity = opacity

			if (opacity >= 1) {
				clearInterval(fadeInterval);
				if (cb) { cb() }
			}
		}, timing)
	}

	var fadeOut = function(elem, timing, delta, cb) {
		var opacity = 1
		fadeInterval = setInterval(function() {
			opacity -= delta
			elem.style.opacity = opacity

			if (opacity <= 0) {
				clearInterval(fadeInterval);
				if (cb) { cb() }
			}
		}, timing)
	}

  var showRecent = function (domains, count) {
  	var html = ''
  	var length = 0
  	var maxWidth = registeredDomains.parentElement.clientWidth / 10

		while (length < maxWidth) {
			var idx = (count + 1) % domains.length
			length += domains[idx].length + 3

			if (length < maxWidth || html.length === 0) {
				if (html.length) {
					html += ' &#8226; '
				}
  	    html += '<a href="https://profiles.eco/' + domains[idx] + '" class="registered-domain">' + domains[idx] + '</a>'
  	    count = idx
  		}
  	}

		registeredDomains.innerHTML = html
		fadeIn(registeredDomains, 40, 0.1, function() {
			setTimeout(function () {
				fadeOut(registeredDomains, 40, 0.1, function () {
					showRecent(domains, count)
				})
			}, 3000)
		})
  }

	if (window.fetch) {
		window.fetch('{{profiles}}/_api/domains/recent?count=50', {
			credentials: 'omit',
			headers: {
				Accept: 'application/json'
			}
		}).then(function (response) {
			return response.json()
		}).then(function (domains) {
			return showRecent(domains, 0)
		}).catch(function (err) {
				console.error('Unable to fetch recent domains.', err)
				if (err.name !== 'TypeError') { // ignore network errors
					window.Sentry && window.Sentry.captureException(err)
				}
		})
	} else {
		document.querySelector('.section.recent').style.display = 'none'
	}
</script>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		document.querySelectorAll('.chat-link').forEach(function (e) {
			e.addEventListener('click', function (e) {
				e.preventDefault()
				Intercom('show')
			})
		})
	})
</script>
