---
title: title
description: description
page-path:
og-image: opengraph/building-og.png
og-width: 1200
og-height: 630
active: home
changefreq: daily
priority: 1
i18nNamespace: home
i18nLangs:
- en
- fr
- de
faq: true
---

<header>
<link rel="preload" as="image" href="/img/carousel/for-you3.webp">

<div class="top-banner bg-yellow">{{{ t 'top-banner' }}}</div>
<div class="carousel slide" id="home-carousel" data-bs-interval="5000" data-bs-ride="carousel" data-bs-wrap="false">
	<div class="carousel-inner">
		<div class="carousel-item active home-you" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/carousel/for-you3.webp')">
			<div class="container">
				<h2>{{t 'carousel.tld.head'}}&nbsp;<span class="carousel-subheader">{{t 'carousel.tld.subhead'}}</span></h2>
			</div>
		</div>

		<div class="carousel-item home-business">
			<div class="container">
				<h2>{{{t 'carousel.business.head'}}}&nbsp;<span class="carousel-subheader">{{t 'carousel.business.subhead'}}</span></h2>
			</div>
		</div>

		<div class="carousel-item home-government">
			<div class="container">
				<h2>{{{t 'carousel.gov.head'}}}&nbsp;<span class="carousel-subheader">{{t 'carousel.gov.subhead'}}</span></h2>
			</div>
		</div>

		<div class="carousel-item home-people">
			<div class="container">
				<h2>{{t 'carousel.people.head'}}&nbsp;<span class="carousel-subheader">{{t 'carousel.people.subhead'}}</span></h2>
			</div>
		</div>
	</div>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="{{t 'carousel.tld.head'}}"></button>
    <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="1" aria-label="{{t 'carousel.business.head'}}"></button>
    <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="2" aria-label="{{t 'carousel.gov.head'}}"></button>
    <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="3" aria-label="{{t 'carousel.people.head'}}"></button>
  </div>
</div>
</header>

{{>search hnum=1 }}

<div class="section recent inverted">
	<div class="container">
		<div class="row">
			<div class="recently-registered col-3">{{{t 'registered.head'}}}</div>
			<div class="col-9">
				<div id="registered-domains" class="registered-domains">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section home-eligibility">
	<div class="container">
		<div class="row">

			<div class="col-md-6 home-eligibility-question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
				<h2 itemprop="name">{{{t 'eligibility.head'}}}</h2>
				<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
					<div itemprop="text">{{{t 'eligibility.text' joinArrays=''}}}</div>
				</div>
			</div>

			<div class="col-md-6 home-eligibility-question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
				<h2 itemprop="name">{{{t 'purchase.head'}}}</h2>
				<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
					<div itemprop="text">{{{t 'purchase.text' joinArrays=''}}}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section home-orgs inverted">
	<div class="container" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
		<h3 class="section-label">{{{t 'global:partners.head'}}}</h3>
		<h2 itemprop="name">{{{t 'global:partners.subhead'}}}</h2>

		<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
			<p itemprop="text">{{{t 'global:partners.text'}}}</p>
		</div>

		{{> logos }}
	</div>
</div>

<div class="section home-who">
	<div class="container" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
		<h3 class="section-label" itemprop="name"><a href="/champions/">{{{t 'global:members.head'}}}</a></h3>
		<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
			<p itemprop="text">{{{t 'global:members.text' }}}</p>
		</div>
		{{> profiles profiles=priorityProfiles }}
	</div>
</div>

{{#if (equal lang 'en')}}
<div class="section home-news inverted">
	<div class="container">
		<h3 class="section-label"><a href="/news/">Recent .eco news</a></h3>
		<div class="row g-0">
			{{#eachN collections.news}}
			<div class="col-md-4">
				<a href="/{{pagePath path}}">
					<div class="news-tile {{ tile-class }}">
						<img class="news-tile-image" src="{{ header-img }}" loading="lazy" alt="{{ header-img-alt }}" width="{{og-width}}" height="{{og-height}}">
						<div class="news-tile-overlay">
							<div class="news-tile-content">
								<h3>{{ title }}</h3>
								<p><time datetime="{{ formatUTC pubdate }}">{{ formatDay pubdate }}</time></p>
							</div>
						</div>
					</div>
				</a>
			</div>
			{{/eachN}}
		</div>
	</div>
</div>
{{/if}}

<div class="section home-support {{#if (notequal lang 'en')}}inverted{{/if}}">
	<div class="container">
		<h3 class="section-label">{{t 'support.head'}}</h3>
		<div class="row">
			<div class="col-3 col-md-2">
				<span class="support-wave">&#x1F44B;</span>
			</div>
			<div class="col-8 col-md-10">
				{{{t 'support.text' joinArrays=' '}}}
			</div>
		</div>
	</div>
</div>
<script>
	var fadeIn = function (elem, timing, delta, cb) {
		elem.classList.remove('domains-fade-out')
		elem.classList.add('domains-fade-in')
	}

	var fadeOut = function (elem, timing, delta, cb) {
		elem.classList.remove('domains-fade-in')
		elem.classList.add('domains-fade-out')
	}

	var showRecent = function (domains) {
		var registeredDomains = document.getElementById('registered-domains')
		var maxWidth = registeredDomains.parentElement.clientWidth / 10
		var pause = true
		var count = 0

		var displayRecent = function () {
			var html = ''
			var length = 0
			while (length < maxWidth && count < domains.length) {
				var idx = count
				length += domains[idx].length + 3

				if (length < maxWidth || html.length === 0) {
					if (html.length) {
						html += ' &#8226; '
					}
					html += '<a href="https://profiles.eco/' + domains[idx] + '" class="registered-domain">' + domains[idx] + '</a>'
					count = idx + 1
					if (count === domains.length) {
						count = 0
					}
				}
			}

			registeredDomains.innerHTML = html
			fadeIn(registeredDomains)
			if (!pause && !document.hidden) {
				setTimeout(function () {
					fadeOut(registeredDomains)
				}, 4500)
				setTimeout(function () {
					displayRecent()
				}, 5000)
			}
		}
		var observer = new IntersectionObserver(function (entries) {
			if (entries[0].intersectionRatio <= 0) {
				pause = true
			} else if (pause) {
				pause = false
				displayRecent()
			}
		})
		observer.observe(registeredDomains)

		document.addEventListener('visibilitychange', function () {
			if (document.hidden) {
				pause = true
			} else {
				pause = false
				displayRecent()
			}
		})
	}

	document.addEventListener('DOMContentLoaded', function () {
		if (!window.fetch) {
			return document.querySelector('.section.recent').style.display = 'none'
		}

		window.fetch('{{profilesApi}}/domains/recent?count=20', {
			credentials: 'omit',
			headers: {
				Accept: 'application/json'
			}
		}).then(function (response) {
			if (!response.ok) {
				throw new Error('Failure fetching recent domains: ' + response.status)
			}
			return response.json()
		}).then(function (domains) {
			return showRecent(domains)
		}).catch(function (err) {
			console.error('Unable to fetch recent domains.', err)
			if (err.name !== 'TypeError') { // ignore network errors
				window.Sentry && window.Sentry.captureException(err)
			}
		})
	})
</script>

